#mapid {
    height: 450px;
    width: 900px;
    padding: 10px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.map-title {
    text-align: center;
    padding: 20px, 0;
    font-size: 30px;
    margin-top: 50px;
    font-weight: bold;
}

.charts-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.dropdowns {
    align-self: center;
}

#tables-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.table-block {
    width: 50%; /* adjust this value as needed */
}


.table-title {
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
}


table {
    width: 95%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: #4CAF50;
    color: white;
}

#driver-table {
    margin-right: 1%;
}

#race-table {
    margin-left: 1%;
}
