<!DOCTYPE html>
<html>
<head>
    <title>Map of F1 Circuits</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
</head>
<body>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
    var circuits = JSON.parse('{{ circuits | safe }}');
    </script>
    <script src="{{ url_for('static', filename='circuits.js') }}"></script>
</body>
</html>
